.navbar-brand {
  letter-spacing: 0.1em;
}


.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
     /* background-color: #fff; */
     background-image: url("file:///Users/adiskop/Downloads/928C4956-A7CC-4D39-AEEF-56D708B0FFF5%203.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
   
     
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.4);
    padding:2rem;
    color: white;
  }
  

.jumbotron section {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.card-img-overlay {
  font-family: 'Papyrus';
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
letter-spacing:0.2em;
}






  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
